<div class="row" *ngIf="isChatLoading">
    
  <div class="col s12 m12">
    <div class="">      
      <div class="valign-wrapper">
        <div style="max-width:350px; margin: 20px auto;" *ngIf="userId">
          <img class="responsive-img" src="{{userQrCodeUrl}}" />
        </div>
      </div>
    </div>    
  </div>
  
  <div class="col s12 m12 valign-wrapper" style="min-height: 300px">
    <div *ngIf="!(user | async)?.tokenData" style="width:100%">
      <div class="center-align">
        
        <h5>Waiting to scan QR code</h5>
        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</div>

<app-chat *ngIf="!isChatLoading" [fbUserData]="fbUser"></app-chat>


